<%= link_to 'Add a new product', new_product_path %>
<h1> Welcome to Rainforest </h1>
<img id="irc_mi" src="https://d8kyhhndkm363.cloudfront.net/8/569728/amazonrainforest.jpg" style="margin-top: 0px;" class="irc_mut" width="524" height="393">

<table>
<tr>
   <th> Name </th>
  
   <th> Description </th>
   
   <th> Price </th>
</tr>
<% @products.each do |product| %>
 <tr>
   <td><%= product.name %></td>
   
   <td><%= product.description %></td>
   
   <td>$<%= product.formatted_price %></td>
   
   <td><%= link_to 'Show', product_path(product) %></td>
   
   <td><%= link_to 'Edit', edit_product_path(product) %></td>
   
   <td><%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>